======= BURSTCONTROL_DEMO.TXT for BURSTSIMULATOR version HT20110306 =======
== process id is $id ==
= The lines beginning with a symbol "=" in the first position and all lines
= after THE END are the comment lines. The lines beginning with a different
= symbol are the control lines. A control line consists of a control value
= followed by a space and a comment. A dual control value consists of the
= free-air value, slash, and the forest value. The number and the identifier
= of the control variable are shown at the end of a control line.
= The control values can be modified by the user of the simulator.
=== NB: Do not add or delete any control lines in this file! ===
=== Symbol # indicates that the value must be a whole number.
=== Symbol * allows to present slash-separated dual values e.g. 4.5/6.7
=== where the first is valid in the free air and the second in the forest.
= Full instruction is available as a separate document.
===========================================================================
#foreach($parameter in $parameters)
$parameter.controlLine
#end
1.333 nm or cm2 V-1 s-1: Low end of the particle presentation range, 53:dmn
40 nm or cm2 V-1 s-1: High end of the particle presentation range, 54:dmx
28 #: Number of size fractions in distribution tables (<= 99), 55:nfr
2 #: Scale of size or mobility 1) linear 2) logarithmic, 56:scl
3 #: Distr. 1) fraction concentrations 2) dN/dd 3) dN/d(log(d)), 57:dst
5 #min: Duration of a time interval in the output table, 58
1 #min: Unit of time in the output table, 59:unit
0 #: Delimiter in the signature file 0) gap 1) tab 2) comma, 60
TL : Output: T = st-table, L = par-list, D = distr, P = plot-table 61
=== RANKS OF VARIABLES AND SUBTABLES (RANK 0 = SKIP VARIABLE) ===
0 #: Free air positive nucleation rate, 62:J+a
0 #: Free air negative nucleation rate, 63:J-a
0 #: Free air neutral nucleation rate, 64:Joa
0 #: Forest positive nucleation rate, 65:J+f
1 #: Forest negative nucleation rate, 66:J-f
1 #: Forest neutral nucleation rate, 67:Jof
1 #: Concentration of positive ions, 68:n+
1 #: Concentration of negative ions, 69:n-
0 #: Average diameter of positive particles, 70:d+
2 #: Concentration of positive particles, 71:N+
0 #: Average diameter of negative particles, 72:d-
2 #: Concentration of negative particles, 73:N-
1 #: Average diameter of neutral particles, 74:do
1 #: Concentration of neutral particles, 75:No
0 #: Polarity balance index of charged particles, 76:balance5
0 #: Average diameter of positive particles between dmn&dmx, 77:d<+
0 #: Concentration of positive particles between dmn&dmx, 78:N<+
0 #: Average diameter of negative particles between dmn&dmx, 79:d<-
0 #: Concentration of negative particles between dmn&dmx, 80:N<-
0 #: Average diameter of neutral particles between dmn&dmx, 81:d<o
0 #: Concentration of neutral particles between dmn&dmx, 82:N<o
0 #: Polarity balance index between dmn&dmx, 83:balance<
2 #: Charge of background aerosol particles multiplied by 100, 84:100q
0 #: Charge concentration of background aerosol, 85:Nq
0 #: Effective diameter concentration of background aerosol, 86:Nd
1 #: Distribution subtable of positive particles, 87:p
0 #: Distribution subtable of negative particles, 88:n
0 #: Distribution subtable of neutral particles, 89:z
=== SCALE DENOMINATORS FOR DIAGRAMS ===
100 #: Concentration of ions cm-3, 90
5 #: Concentration of charged nanoparticles cm-3, 91
500 #: Concentration of neutral nanoparticles cm-3, 92
-10 #: Concentration of background aerosol charge m-3, 93
100 #: Effective diameter concentration of background aerosol m-2, 94
=== INFORMATION ABOUT PLOT TABLE ===
1.18 : geometric std of the distribution of positive ions, 95:gs+
1.22 : geometric std of the distribution of negative ions, 96:gs-
1 #: plot table composition: 1 = + & -, 2 = + & neutral, 3 = - & neutral, 97
=== REPLACEMENT FOR INDETERMINED VALUES ===
? : Symbol(s) of indeterminacy (- = gap, # = presumable limit), 98
=== THE END ===
COMMENTS:
1. The columns of the output standard table are delivered in the order
   of ranks and when of equal rank, then in the order of control lines.
   The columns of zero rank are skipped in the output table.
2. Scale denominators are applied to the integral concentrations only,
   the distributions are delivered in cm-3 or cm-3 nm-1 independent
   of denominator values.